
  @media  screen and (min-width: 380px) {
    html body{
      background-color: whitesmoke;
      margin: 0;
      padding: 0;
     }
    .header{
 
      height: 100px;
      width: 100%;
      background-color: #f1c146;
      padding-bottom: 10px;
      background-size: cover;
      justify-content: center;
    }


}


@media screen and ( max-width: 379px) {
  html body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
   }
    .header{
    
      height: 50px;
      width: 100%;
      background-color: #f1c146;
      padding-bottom: 2px;
      background-size: cover;
      justify-content: center;
    }


}
